
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@mixin  background-clr {
    background-color: aqua;
     
 }

html{
    
    font-size: 62.5%;

    // 1800
    @include responsive(big-desktop){ 
        font-size: 75%;
    }
    

    // // 1200
    @include responsive(tab-land){ 
        font-size: 56.25%;
    }

    // // 900
    @include responsive(tab-port){ 
        font-size: 50%;
    }

   
}

body{

    box-sizing: border-box;
    padding: 3rem;

    @include responsive(tab-port){
        padding: 0;
    }
  

}
